.grid-container{
    display: flex; 
    flex-direction: column; 
    width: 100vw; 
    height: 100vh; 
    background: linear-gradient(45deg, #97D1Ab, #417165, #5D3B5A, #341C36, #2A142C); 
    background-size: 300% 300%; 
    animation: color 7s ease-in-out infinite;  
    font: white; 
}

.appHeader{
    height: 70px; 
    display: flex; 
    align-items: center;
    padding: 4px; 
    border-bottom: 1px solid white;
    background-color: rgba(209, 213, 219, 0.5);
    justify-content: center;
    font: white; 
    color: white; 

}

.appHeader>img{
    width: 3rem;
    height: 10rem; 
}

.space{
    margin-top: 20px; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}

.menu{
    border-right: 1px solid rgba(255, 255, 255, 0);
}

.menu1{
    background-color:  rgba(176, 241, 202, 0.5);
    width: 300px; 
    float: top; 
     
}
.SideMenu{
    margin-top: -20px; 
    height: 100vh; 
    background-color:  rgba(176, 241, 202, 0.5);
}

.pageContent{
    background-color:  transparent;
    border-radius: 30px; 
    width: 1200px; 
    height: 90vh; 
    margin-top: -20px; 
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 50px;
}

.boxes{
    background-color: rgba(176, 241, 202, 0.5);
    height: 150px;
    width: 1000px; 
    border-radius: 30px; 
    text-align: center;
    display: flex; 
    color: white;
    justify-content: space-between;
}

.pfp{
    background-color: rgba(176, 241, 202, 0.5);
    height: 150px;
    width: 150px; 
    border-radius: 30px; 
    justify-content: center;
   
}

.inside{
    text-align: center;
    display: flex; 
}

.user-name{
    text-align: center;
    font-size: 30px;
}

.user-buttons{
    margin-top: 5px;
    display: flex; 
    justify-content: space-evenly;
}