#outer-display {
    height: 50vh;
    width: 100%;
    background-color: lightslategray;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 15px;
}

*#inner-display {
    margin-left:1%;
    height: 100%;
    width: 98%;
    border-radius: 15px;
    background-color: white;

}

#message {
    width: 50%;
}

#submitPost{
    margin-top: 1%;
    padding: 1%;
    
}
