/* .content{
    align-items: center;
    display: center; 
    text-align: center;

    
}
.access-forbidden{
    background: linear-gradient(45deg, #97D1Ab, #417165, #5D3B5A, #341C36, #2A142C); 
    background-size: 300% 300%; 
    animation: color 7s ease-in-out infinite;  
    color: white; 
    width: 100%; 
    height: 100vh; 

} */

